@{
    ViewBag.Title = "About";
}

<div class="custom-card bg-light mb-3">
    <h2 class="mt-5 text-center">About Us</h2>
    <div class="row d-flex justify-content-center mb-3">
        <!--Grid column-->
        <div class="col-md-7 text-center custom-card-inner px-4">
            <h4 class="my-4 h4">My Story</h4>

            <p>This project was started a week ago. Yes i know its a new born child. Won't last long sadly. There is nothing more to say other than this :(</p>
        </div>
        <!--Grid column-->
    </div>
</div>
</div>