@{
    ViewBag.Title = "About";
}

<div class="custom-card bg-light mb-3">
    <h2 class="mt-5 text-center">About Us</h2>
    <div class="row d-flex justify-content-center mb-3">
        <!--Grid column-->
        <div class="col-md-7 text-center custom-card-inner px-4">
            <h3 class="my-4 text-black-50">Our Story</h3>

            <p>At eStore.com, we are passionate about providing a seamless online shopping experience for our customers. With a wide range of high-quality products sourced from trusted suppliers, we aim to offer the best selection of items to meet our customers' needs. Our user-friendly website and secure payment gateway ensure a smooth and secure shopping journey. We are committed to excellent customer service and strive to exceed expectations with every order. Whether you're looking for the latest trends or everyday essentials, eStore.com is your go-to destination for all your shopping needs.
            <br/><br/>This project was started a week ago. Yes i know its a new born child. Won't last long sadly. There is nothing more to say other than this :(</p>
        </div>
        <!--Grid column-->
    </div>
</div>