@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    
<div class="custom-card bg-light mb-3">
    <h2 class="mt-5 text-center">Contact</h2>
    <div class="row d-flex justify-content-center mb-3">
        <!--Grid column-->
        <div class="col-md-7 text-center custom-card-inner px-4">
            <h4 class="my-4 h4">Catch us here</h4>

            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">eStore@gmail.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">eStoreSupport@gmail.com</a>
            </address>
        </div>
        <!--Grid column-->
    </div>
</div>
</div>
</main>
