@model List<EStore.Models.Cart>
@{
    ViewBag.Title = "ViewPurchaseHistory";
}

<main>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="my-5 text-center">Purchase History</h2>
            <!-- List group-->
            <ul class="list-group">
                @{
                    foreach (var item in Model)
                    {
                        <!-- list group item-->
                        <li class="list-group-item">
                            <!-- Custom content-->
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">@item.Name</h5>
                                    <p class=" text-muted mb-0 small fw-bold">
                                        Quantity: @item.Quantity
                                    </p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        @{
                                            var totalCost = item.Cost * item.Quantity;
                                        }
                                        <h6 class="font-weight-bold my-2">$@totalCost</h6>
                                        <ul class="list-inline small">
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="@item.ImageSrc" class="ml-lg-5 order-1 order-lg-2" />
                            </div>
                            <!-- End -->
                        </li>

                    }
                }

            </ul>
            <!-- End -->
        </div>
        </div>
</main>

