.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Custom styles for the pagination links */
.pagination-container .pagination {
    display: inline-block;
}

.pagination-container .pagination li {
    display: inline-block;
    margin-right: 5px;
}

/* Other not choosen links */
.pagination-container .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 100%;
}

.pagination-container .pagination li.active a {
    border-radius: 100%;
    background-color: black;
    color: #fff;
}

.pagination-container .pagination li.disabled a {
    border-radius: 100%;
    pointer-events: none;
    color: #ccc;
}

/* Custom "Previous" arrow */
.custom-previous:before {
    left: 5px;
    border-width: 4px 8px 4px 0;
    border-color: transparent #fff transparent transparent;
}

/* Custom "Next" arrow */
.custom-next:after {
    right: 5px;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #fff;
}

.custom-previous:hover,
.custom-next:hover {
    background-color: #0056b3;
}

.custom-dropdown {
    position: relative;
}

/* Add arrow to the dropdown */
.custom-dropdown::after {
    content: '\25BC'; /* Unicode character for downward-pointing triangle (▼) */
    position: absolute;
    right: 8px; /* Adjust the right position of the arrow as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the arrow from interfering with dropdown clicks */
}

.custom-image-edit-view {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px
}

.custom-image-home-view {
    max-height: 200px;
    max-width: 220px;
    height: 180px;
    width: 220px;
}

.custom-image-product-view {
    width: 500px;
    height: 350px;
    margin: 5%;
}

.custom-card {
    --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width);
  border-radius: var(--bs-card-border-radius);
}

.custom-card-inner {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width);
    border-radius: var(--bs-card-border-radius);
    background-color: #ececec
}

.custom-container {
    width:90%;
    margin: 0 auto; /* This centers the div horizontally */
}

.custom-shop-card {
    background-image: url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=900&t=st=1691163290~exp=1691163890~hmac=09dcfb57fdfe9362e80ac4d04ec67aa6441229362681337d2721b08d9445cb80);
    filter: brightness(0.9);
}